@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Mooli&family=Space+Grotesk:wght@500&display=swap");

/* fallback */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v138/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mooli", sans-serif;
  /* outline: 1px solid black; */
}
a {
  text-decoration: none;
}
body {
  overflow-x: hidden;
}
.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.justify {
  justify-content: center;
}

.column {
  flex-direction: column;
}

.my1 {
  margin: 0.3rem 0;
}

.active {
  color: #0085ff;
}
.white{
  color: white;
}
.hero {
  /* background-color: #f3f3f3; */
  background-color: #dee4ffab;
  min-height: 30rem;
}
.wrap{
  flex-wrap: wrap;
}
.w-90{
  width: 90%;
}