.aboutSection{
    margin: 7rem 0;
}
.aboutHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 5rem;
}
.story{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
}
.story p{
    width: 50%;
    margin-right: 1rem;
    font-size: 1.2rem;
}
.image{
    width: 40%;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img{
    width: 30rem;
}





.craftLove{
    /* min-height: 30rem; */
    padding: 7rem 3rem; 
    background-color: #0085FF1F;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left h3{
    font-size: 2rem;
    margin: 0.5rem 0;
}
.left{
    width: 40%;
    height: 100%;
}
.right{
    width: 40%;
    position: relative;
}
.right img{
    width: 30rem;
}
.shade{
    position: absolute;
    width: 29.8rem;
    height: 19.8rem;
    background-color: #DABA895E;
    top: 2rem;
    left: 2rem;
    z-index: -1;
}




.commitment{
    width: 60%;
    margin: 7rem 0;
}
.commitment h3{
    font-size: 2rem;
    text-align: center;
    margin: 0.5rem 0;
}

.joinCommunity{
    display: flex;
    justify-content: center;
    align-items: center;
}
.illustration{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;

}
.illustration img{
    width: 60%;
}
.illustrationText{
    width: 26%;
    left: 37rem;
    position: absolute;
    top: 10rem;
}
.illustrationText h3{
    font-size: 2rem;
    margin: 0.5rem 0;
}