.ccard:nth-child(even){
    flex-direction: row-reverse;
  }
  .ccard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 6rem;
  }
  .cardText{
    width: 40%;
    font-size: 1.2rem;
  }
  .cardText p{
    text-align: left;
    width: 100%;
  }
  .ccard h3{
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }
  .ccard img{
    height: 22rem;
  }
    