.formOuter h3{
    font-size: 2.5rem;
}
.formOuter{
    margin: 3rem 0;
}
.ContactDetails{
    min-height: 35rem;
    width: 25rem;
    /* background-color: #0085FF; */
    background-color: #0f3bffab;
    border-radius: 1rem;
    color: white;
    display: flex;
    justify-content:center;
    padding: 2.5rem;
}
.ContactDetails h4{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}
.form form{
    width: 50em;
    min-height: 28rem;
    /* background-color: #0085FF1C; */
    background-color: #dee4ffab;
    border-radius: 1rem 0rem 0 1rem;
    justify-content: center;
    padding: 3rem;
    gap: 1rem;
}
.form img{
    width: 4.5rem;
}
.form form input{
    width: 100%;
    padding: 0.7rem;
    background-color: #d5e2ff;
    border: none;
    border-radius: 0.5rem;
}
.form form input::placeholder{
    color: rgba(0, 0, 0, 0.657)
}
.form form textarea::placeholder{
    color:rgba(0, 0, 0, 0.657)
}
.form form textarea{
    width: 100%;
    background-color: #d5e2ff;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    resize: none;
}
.form{
    margin: 3rem 0;
    flex-wrap: wrap-reverse;
}

.form button{
    width: 1rem;
    height: 3rem;
    background-color: #0085FF;
    width: 30%;
    border: none;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form form input:focus{
    outline: #0085FF solid 2px;
}
.form form textarea:focus{
    outline: #0085FF solid 2px;
}
.form form h4{
    font-size: 1.4rem;
}
.Location p{
    margin: 0 0.5rem;
}
.Phone p{
    margin: 0 0.5rem;
}
.Email p{
    margin: 0 0.5rem;
}

@media only screen and (max-width:1200px){
    .form form{
        width: 90%;
        padding: 2rem;
    }
    .ContactDetails{
        margin: 1rem;
        width: 90%;
        min-height: 28rem;
        padding: 2rem;
    }
    .form button{
        width: 50%;
    }
}