.eventCard{
    /* border: 1px solid black; */
    margin: 1rem;
    text-align: center;
    color: grey;
  }
  .eventCard img{
    height: 15rem;
    width: 25rem;
    margin-bottom: 0.5rem;
  }
  
  @media only screen and (max-width:800px){
    .eventCard img{
      width: 90%;
      height: auto;
    }
    .eventCard{
      margin: 1rem 0;
    }
  }