.images{
    margin: 3rem 7rem;
    font-size: 1.5rem;
}
.images button{
    padding: 1rem 2rem;
    background-color: #0085FF;
    border-radius:0.5rem;
    border: none;
    color:white;
    margin:1rem 0;
}
.imageCards{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 1.2rem;
    
}
.imageCard{
    width: 16rem;
    height: 12rem;
    position: relative;
    
}
.imageCard img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.options p{
    cursor: pointer;
}
.options{
    position: absolute;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.59);
    border-radius: 0 0  1rem 1rem;
}
.loadBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.addingImage{
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    /* min-height:100vh; */
    margin: 5rem 10rem;
}
.addingImage h3{
    margin: 1rem 0;
}
.addingImage form{
    width: 100%;
    display:flex;
    font-size:1rem;
    gap: 1rem;
    flex-direction:column;
}
.addingImage button{
    padding: 1rem 2rem;
    background-color: #0085FF;
    border-radius:0.5rem;
    border: none;
    color:white;
    margin:1rem 0;
    width: 10%;
}
.addingImage input{
    padding: 1rem;
    border-radius: 0.3rem;
    border: 1px solid lightgrey;
}
.addingImage select{
    width: 15%;
    border: 1px solid lightgrey;
    border-radius:0.3rem;
    padding: 1rem;
}
.addingImage textarea{
    padding: 1rem;
    border: 1px solid lightgrey;
    border-radius: 0.3rem;
    resize: vertical;
    min-height: 7rem;
}

.close{
    position: absolute;
    right: -0.5rem;
    top: -0.5rem;
}
.specificationInput input{
    width: 100%;
}
.specificationInput{
    position: relative;
    width: 40%;
}
.specifications{
    gap: 1rem;
    display: flex;
    align-items:center;
    flex-wrap: wrap;
}
.specifications button{
    width: 20%;
}
.specifications span{
    cursor: pointer;
}